.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 200px;
}

.event-item {
  background-color: white;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-responsible-btn {
  margin-top: 10px;
}

